@page "/CreateEmployee"
@using BlazorBootstrap
@using GraphQLClient.DataAccess
@using GraphQLClient.DataAccess.Model

@inject NavigationManager NavigationManager
<h3>Создание работника</h3>
<div class="row">
    <EditForm Model="@createEmployee" OnValidSubmit="@CreateButtonClick">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <div class="form-group">
            Имя:<InputText id="name" @bind-Value="createEmployee.Name"
                            class="form-control"/>
        </div>
        <div class="form-group">
            Email:<InputText id="email" @bind-Value="createEmployee.Email"
                           class="form-control" />
        </div>
        <div class="form-group">
            Возраст:<InputNumber id="age" @bind-Value="createEmployee.Age"
                           class="form-control" />
        </div>
        <div class="form-group">
            Отделение:<AutoComplete @bind-Value="selectedValue"
            TItem="DepartmentReturnModel" DataProvider="CustomersDataProvider"
            PropertyName="SelectedValue" Placeholder="Search a department..."
            StringComparison="StringComparison.Ordinal"
            OnChanged="(DepartmentReturnModel customer) => OnAutoCompleteChanged(customer)" />
        </div>
        <button type="submit" class="btn btn-success">Создать</button>
    </EditForm>
</div>
<a href="/EmployeeView"><i class="bi bi-backspace"></i></a>
@code {
    private CreateEmployeeReturnModel createEmployeeReturnModel =
    new CreateEmployeeReturnModel();
    private CreateEmployeeModel createEmployee =
    new CreateEmployeeModel();
    public IEnumerable<DepartmentReturnModel>? departmentList;
    private string? selectedValue;

    private async Task<AutoCompleteDataProviderResult<DepartmentReturnModel>> CustomersDataProvider(AutoCompleteDataProviderRequest<DepartmentReturnModel> request)
    {
        if (departmentList is null) // pull customers only one time for client-side autocomplete
            departmentList =await GetDepartments(); // call a service or an API to pull the customers

        return await Task.FromResult(request.ApplyTo(departmentList.OrderBy(customer => customer.Name)));
    }
    private async Task CreateButtonClick()
    {
        try
        {
            string query=$"mutation{{createWithDepartmentName(name: \"{createEmployee.Name}\",age: {createEmployee.Age},mail: \"{createEmployee.Email}\",depName: \"{createEmployee.DepartmentName}\"){{name,employeeId,departmentId}}}}";
            string graphQLQueryType = "createWithDepartmentName";
            var result = await Mutation.ExceuteMutationAsyn<CreateEmployeeReturnModel>(graphQLQueryType, query);
            createEmployeeReturnModel = result;
            NavigationManager.NavigateTo($"EmployeeView");
        }
        catch(Exception)
        {
            throw;
        }
    }
    private async Task<IEnumerable<DepartmentReturnModel>> GetDepartments()
    {
        try
        {
            string query = "query{allDepartmentOnly{departmentId,name}}";
            string graphQLQueryType = "allDepartmentOnly";
            return await Query.ExceuteQueryReturnListAsyn<DepartmentReturnModel>(graphQLQueryType, query);
        }
        catch (Exception)
        {
            throw;
        }
    }
    private void OnAutoCompleteChanged(DepartmentReturnModel model)
    {
        
    }
}
