@page "/CreateEmployee"
@using BlazorBootstrap
@using GraphQLClient.DataAccess
@using GraphQLClient.DataAccess.Model

@inject NavigationManager NavigationManager
<h3>Создание работника</h3>
<div class="row">
    <EditForm Model="@createEmployee" OnValidSubmit="@CreateButtonClick">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <div class="form-group">
            Имя:<InputText id="name" @bind-Value="createEmployee.Name"
                            class="form-control"/>
        </div>
        <div class="form-group">
            Email:<InputText id="email" @bind-Value="createEmployee.Email"
                           class="form-control" />
        </div>
        <div class="form-group">
            Возраст:<InputNumber id="age" @bind-Value="createEmployee.Age"
                           class="form-control" />
        </div>
        <div class="form-group">
            Подразделение:<InputSelect TValue="int" @bind-Value="createEmployee.DepartmentId"
                          class="form-control">
                    @foreach (var dept in departmentList!)
                    {
                        <option value="@dept.DepartmentId">@dept.Name</option>
                    }
                </InputSelect>
        </div>
        <button type="submit" class="btn btn-success">Создать</button>
    </EditForm>
</div>
<a href="/EmployeeView"><i class="bi bi-backspace"></i></a>
@code
{
    private CreateEmployeeReturnModel createEmployeeReturnModel =
    new CreateEmployeeReturnModel();
    private CreateEmployeeModel createEmployee =
    new CreateEmployeeModel();
    private IEnumerable<DepartmentReturnModel>? departmentList;

    protected override async Task OnInitializedAsync()
    {
        departmentList = await GetDepartments();
    }
    private async Task CreateButtonClick()
    {
        try
        {
            string query="mutation{createWithDepartmentId(age:"+createEmployee.Age+",mail: \""+createEmployee.Email+"\",name: \""+createEmployee.Name+"\",depId:"+createEmployee.DepartmentId+"){name,employeeId,departmentId}}";
            string graphQLQueryType = "createWithDepartmentId";
            var result = await Mutation.ExceuteMutationAsyn<CreateEmployeeReturnModel>(graphQLQueryType, query);
            NavigationManager.NavigateTo($"EmployeeView");
        }
        catch(Exception)
        {
            throw;
        }
    }
    private async Task<IEnumerable<DepartmentReturnModel>> GetDepartments()
    {
        try
        {
            string query = "query{allDepartmentOnly{departmentId,name}}";
            string graphQLQueryType = "allDepartmentOnly";
            return await Query.ExceuteQueryReturnListAsyn<DepartmentReturnModel>(graphQLQueryType, query);
        }
        catch (Exception)
        {
            throw;
        }
    }
}
