@page "/EditEmployee/{Id:int}"
@using GraphQLClient.DataAccess
@using GraphQLClient.DataAccess.Model

@inject NavigationManager NavigationManager
<h3>Редактирование работника</h3>
    <EditForm Model="@employee" OnValidSubmit="@EditButtonClick">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            Имя:<InputText id="name" @bind-Value="employee.Name"
                           class="form-control" />
        </div>
        <div class="form-group">
            Email:<InputText id="email" @bind-Value="employee.Email"
                             class="form-control" />
        </div>
        <div class="form-group">
            Возраст:<InputNumber id="age" @bind-Value="employee.Age"
                                 class="form-control" />
        </div>
        <div class="form-group">
        Подразделение:<InputSelect TValue="int" @bind-Value="employee.DepartmentId"
                                   class="form-control">
            @foreach (var dept in departmentList!)
            {
                <option value="@dept.DepartmentId">@dept.Name</option>
            }
        </InputSelect>
        </div>
        <button type="submit" class="btn btn-success">Сохранить</button>
    </EditForm>
<a href="/EmployeeView">Назад</a>
@code {
    [Parameter]
    public int? Id{ get; set; }
    private Employee employee = new Employee();
    private IEnumerable<DepartmentReturnModel>? departmentList;
    protected override async Task OnInitializedAsync()
    {
        departmentList = await GetDepartments();
        string completeQuery = "query{employerById(id:"+Id+"){employeeId,name,email,age,department{name,departmentId}}}";
        string qraphQLQueryType = "employerById";
        var result = await Query.ExceuteQueryAsyn<Employee>(qraphQLQueryType, completeQuery);
        if (result == null)
        {
            NavigationManager.NavigateTo($"EmployeeView");
        }
        employee = result!;
        employee.DepartmentId = result!.Department!.DepartmentId;
    }
    private async Task EditButtonClick()
    {
        try
        {
            string query = "mutation{editEmployee(age:"+employee.Age+",depId:" + employee.DepartmentId + ",employeeId:" + employee.EmployeeId + ",mail:\"" + employee.Email + "\",name:\"" + employee.Name + "\"){name,employeeId,departmentId}}";
            string graphQLQueryType = "editEmployee";
            var result=await Mutation.ExceuteMutationAsyn<CreateEmployeeReturnModel>(graphQLQueryType, query);
            NavigationManager.NavigateTo($"EmployeeView");
        }
        catch (Exception)
        {
            throw;
        }
    }
    private async Task<IEnumerable<DepartmentReturnModel>> GetDepartments()
    {
        try
        {
            string query = "query{allDepartmentOnly{departmentId,name}}";
            string graphQLQueryType = "allDepartmentOnly";
            return await Query.ExceuteQueryReturnListAsyn<DepartmentReturnModel>(graphQLQueryType, query);
        }
        catch (Exception)
        {
            throw;
        }
    }
}
