@page "/EmployeeView"
@using GraphQLClient.DataAccess
@using GraphQLClient.DataAccess.Model

@inject NavigationManager NavigationManager

<h3>Список работников</h3>
<a href="/CreateEmployee" class="btn btn-primary">Создать работника</a>
@if (AllEmployees.Count == 0)
{
    <p><em>Loading ....</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Department Name</th>
                <th>Редактировать</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var emp in AllEmployees)
            {
                <tr>
                    <td>@emp.Name</td>
                    <td>@emp.Email</td>
                    <td>@emp.Age</td>
                    <td>@emp.Department.Name</td>
                    <td><a href=""><img src="images/edit.png"></a></td>
                    <td><a href=""><i class="bi bi-pencil"></i>Удалить</a></td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private List<Employee> AllEmployees = new List<Employee>();
    protected override async Task OnInitializedAsync()
    {
        try
        {
            string completeQuery = "query{allEmployeeWithDepartment{name,age,departmentId,email,employeeId,department{name,departmentId}}}";
            string qraphQLQueryType = "allEmployeeWithDepartment";
            var result = await Query.ExceuteQueryReturnListAsyn<Employee>(qraphQLQueryType, completeQuery);
            AllEmployees = result;
        }
        catch(Exception ex)
        {
            throw ex;
        }
    }
}
