@page "/"

<PageTitle>Задание</PageTitle>

<h1>Вариант 1</h1>

<pre>
Разработать информационную систему «Транспортные услуги». 
На транспортном предприятии ведется учет клиентов, транспортных средств, водителей и путевых листов.
Сервисы, которые должны быть разработаны:
</pre>
<ul>
<li>сформировать путевой лист на заданный автомобиль и водителя;</li>
<li>выдать карточку водителя; </li>
<li>выдать справку по автомобилю;</li>
<li>рассчитать расход горючего по каждому автомобилю на заданный период времени;</li> 
<li>рассчитать пробег заданного автомобиля на заданный период времени;</li>
<li>выдать общий список водителей с основными персональными данными;</li>
<li>выдать общий список автомобилей с информацией о датах, когда они были задействованы;</li>
<li>выдать по водителям табель рабочего времени;</li>
<li>сформировать список путевых листов на заданную дату; </li>
<li>рассчитать общий расход горючего и общий пробег.</li>
</ul>

